html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}

body {
    margin: 0;
}

user agent stylesheet
body {
    display: block;
    margin: 8px;
}

a, a:hover{
    text-decoration: none;
}

a{
    color: #757575;
    background-color: rgba(0, 0, 0, 0);
}

a:webkit-any-link{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

user agent stylesheet
form {
    display: block;
    margin-top: 0em;
}

img {
    border: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.site-topbar{
    position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}
.site-topbar .topbar-nav{
    float: left;
    height: 40px;
    line-height: 40px;
}
.site-topbar a{
    color: #b0b0b0;
    line-height: 40px;
    display: inline-block;
}
.site-topbar .sep{
    margin: 0 0.3em;
    color: #424242;
}
.site-topbar .topbar-cart{
    position: relative;
    float: right;
    width: 120px;
    height: 40px;
    margin-left: 15px;
    transition: all .2s;
    font-size: 12px;
}
.site-topbar .cart-mini {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}
.site-topbar .topbar-info {
    position: relative;
    float: right;
    height: 40px;
    line-height: 40px;
}

.container{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.container:before{
    content: " ";
    display: table;
}
.container:after, .container:before{
    clear: both;
}

.ndash, .sep{
    margin: 0 0.25em;
    font-family: sans-serif;
}


.site-header, .site-header .container {
    position: relative;
}

.site-header {
    z-index: 20;
    height: 100px;
}

.site-header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}

.site-header .logo {
    position: relative;
    display: block;
    width: 56px;
    height: 56px;
    overflow: hidden;
}

.site-header .logo:after, .site-header .logo:before {
    background: url(https://s02.mifile.cn/assets/static/image/logo-mi2.png) no-repeat;
    background-size: 56px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.site-header .logo:before {
    opacity: 1;
}

.site-header .logo:after {
    opacity: 0;
    margin-left: -55px;
}

.site-header .logo:after, .site-header .logo:before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 56px;
    height: 56px;
    content: "";
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}

.site-header .header-nav {
    float: left;
    width: 850px;
}

.site-header .nav-list {
    position: relative;
    z-index: 10;
    float: left;
    width: 1100px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.site-header .nav-category {
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
}

.site-header .nav-category .link-category {
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.site-header .nav-category .link-category {
    visibility: hidden;
}

.site-category {
    display: none;
    position: absolute;
    top: 88px;
    left: -92px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
}

.site-category {
    display: block;
}

.site-category-list.site-category-list-custom {
    height: 420px;
    border: 0;
    color: #fff;
    background: rgba(105,101,101,.6);
}
.site-category-list {
    height: 418px;
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    border: 1px solid #ff6700;
    color: #424242;
    background: #fff;
}

.site-category-list.site-category-list-custom .title {
    color: #fff;
}
.site-category-list .title {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #424242;
}

.site-header .nav-item {
    float: left;
}

.site-header .nav-item .link {
    display: block;
    padding: 26px 10px 38px;
    *padding: 26px 8px 38px;
    color: #333;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.site-header .header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}

.site-header .search-form {
    position: relative;
    width: 296px;
    height: 50px;
    z-index: 20;
}

.site-header .no-style-msq {
    color: #333;
}

.site-header .search-btn {
    right: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
}

.site-header .search-btn, .site-header .search-text {
    position: absolute;
    top: 0;
    border: 1px solid #e0e0e0;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

/* .site-category-list .title em[class*=iconfont] {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #e0e0e0;
}

[class*=iconfont] {
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
} */

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cu
    [class*=iconfont] {rsor: pointer;}
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    color: -internal-light-dark(black, white);
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.site-header .search-hot-words {
    position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.home-main {
    padding-top: 4px;
    padding-bottom: 12px;
}

.page-main {
    background: #f5f5f5;
}

.container{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

.home-banner-box {
    height: 120px;
    margin: 22px 0;
    overflow: hidden;
}

.home-brick-box {
    margin-bottom: 8px;
}

.xm-plain-box .box-hd {
    position: relative;
    height: 58px;
    -webkit-font-smoothing: antialiased;
}

.xm-plain-box .box-hd .title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

.xm-plain-box .box-hd .more {
    position: absolute;
    top: 0;
    right: 0;
}

.xm-plain-box .box-hd .more .more-link {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.xm-plain-box .box-hd .more .tab-list {
    margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;
}

.xm-plain-box .box-hd .more .tab-list li.tab-active, .xm-plain-box .box-hd .more .tab-list li:hover {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.home-brick-box .box-hd .more .tab-list li {
    margin: 0 0 0 30px;
}
.xm-plain-box .box-hd .more .tab-list li {
    display: inline-block;
    padding: 0;
    margin: 0 15px;
    color: #424242;
    border-bottom: 2px solid #f5f5f5;
    border-bottom: 2px solid rgba(0,0,0,0);
    -webkit-transition: border .3s;
    transition: border .3s;
    cursor: pointer;
}

.row {
    margin-left: -14px;
}

.row:after {
    clear: both;
}
.row:after, .row:before {
    content: " ";
    display: table;
}

.span4 {
    width: 234px;
}

.span16 {
    width: 978px;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span13, .span14, .span15, .span16, .span17, .span18, .span19, .span20 {
    float: left;
    margin-left: 14px;
    min-height: 1px;
}

.home-brick-box .brick-list, .home-brick-box .brick-promo-list {
    margin: 0 0 -14px -14px;
}
.brick-list, .brick-promo-list {
    height: 614px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.brick-list {
    width: 992px;
}
.brick-item-l {
    height: 614px;
}
.brick-item {
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.brick-item-m-2 {
    height: 300px;
    padding: 0;
}
.brick-item-m {
    height: 246px;
    padding: 34px 0 20px;
}
.brick-item-m-2 .figure-img, .brick-item-m-2 .figure-img img {
    width: 160px;
    height: 160px;
}
.brick-item-m .figure-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 18px;
}
.brick-item-m-2 .title {
    margin: 0 10px 2px;
}
.brick-item-m .desc, .brick-item-m .title {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.brick-item-m .title {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.brick-item-m .desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}
.brick-item-m .desc, .brick-item-m .title {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.brick-item-m-2 .price {
    margin: 0 10px 14px;
}
.brick-item-m .price {
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
}
.brick-item-s {
    height: 93px;
    padding-top: 50px;
}
.brick-item-s .more {
    display: block;
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}
.brick-item-s .figure-img {
    position: absolute;
    right: 20px;
    top: 32px;
    width: 80px;
    height: 80px;
}
.brick-item-s .figure-img img {
    width: 80px;
    height: 80px;
}
.brick-item-s .title, .brick-item-s .title a {
    color: #333;
}
.brick-item-s .title {
    margin: -10px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
}
.brick-item-s .price {
    margin: 0 110px 0 30px;
    font-size: 12px;
    color: #ff6700;
}

.brick-promo-list .brick-item-m img {
    height: 300px;
}

.brick-promo-list img {
    width: 234px;
}

.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.site-footer .list-service {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.site-footer .list-service a {
    color: #616161;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.home-hero-container {
    position: relative;
    z-index: 10;
}

.home-hero .home-hero-sub {
    margin-top: 14px;
}
.row {
    margin-left: -14px;
}

.home-channel-list {
    margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}
.home-channel-list li {
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}
.home-channel-list a {
    display: block;
    padding-top: 18px;
    text-overflow: ellipsis;
    color: #fff;
    opacity: .7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.home-channel-list img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}
.home-promo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.home-promo-list li.first {
    margin-left: 0;
}
.home-promo-list li {
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 15px;
    -webkit-transition: -webkit-box-shadow .2s linear;
    transition: -webkit-box-shadow .2s linear;
    transition: box-shadow .2s linear;
    transition: box-shadow .2s linear,-webkit-box-shadow .2s linear;
}
.home-promo-list a {
    display: block;
    height: 170px;
    background: url(//i1.mifile.cn/f/i/2014/cn/placeholder-80.png) no-repeat 50%;
}
.home-promo-list img {
    display: block;
    width: 316px;
    height: 170px;
}

.home-hero {
    position: relative;
    margin-bottom: 26px;
}
.home-hero-swiper {
    position: relative;
    height: 460px;
    overflow: hidden;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.home-hero-swiper .swiper-slide a {
    display: block;
    background: url(//i1.mifile.cn/f/i/2014/cn/placeholder-220.png) no-repeat 620px;
}

